.app-wrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 1rem auto;
}

.page-home,
.page-hello {
  margin: 0 auto;
}

.form-nickname {
  margin-top: 3rem;

  input[type="submit"] {
    @extend %input;
    cursor: pointer;
    line-height: 1.75rem;
    border: none;
  }
}

.page-hello {
  h1,
  h2 {
    margin-bottom: 2rem;
  }

  .btn-catch {
    max-width: calc(540px - 2rem);
    align-self: center;
  }
}

.pokemons-wrapper {
  display: flex;
  flex-direction: column;
}

.pokemons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 2rem;

  .pokemon {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: $color-light;
    img {
      width: 100%;
    }

    figcaption {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: map-get($breakpoints, xsm)) {
  .pokemons {
    .pokemon {
      width: calc((100% - 1.25rem) / 2);
    }
  }
}

@media screen and (min-width: map-get($breakpoints, sm)) {
  .form-nickname {
    margin-top: 4rem;

    input[type="submit"] {
      font-size: 1.25rem;
    }
  }
}

@for $i from 1 through 4 {
  @media screen and (min-width: map-get($breakpoints, md)) {
    .pokemons {
      .pokemon {
        width: calc((100% - #{$i} * 1.25rem) / #{$i + 1});
      }
    }
  }
}

@media screen and (min-width: map-get($breakpoints, md)) {
  .pokemons {
    .pokemon {
      width: calc((100% - 2 * 1.25rem) / 3);
    }
  }
}

@media screen and (min-width: map-get($breakpoints, lg)) {
  .pokemons {
    .pokemon {
      width: calc((100% - 3 * 1.25rem) / 4);
    }
  }
}

@media screen and (min-width: map-get($breakpoints, xxl)) {
  .btn-catch {
    margin-top: 2rem;
  }
  .pokemons {
    .pokemon {
      width: calc((100% - 4 * 1.25rem) / 5);
    }
  }
}
